@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", serif;
}

body{
    background-image: url(assets/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* nav bar styling */

nav{
    float: right;

    margin-right: 4vw;
}


nav ul li{
    list-style: none;
    display: inline-block;

    margin-left: 2vw;
}

nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;

    font-weight: 600;
    font-size: 2vw;
    
}


.box form{
    margin-top: 12vw;
    border-style: solid;
}